p {
    font-family: 'Lato', sans-serif; /* Use quotes for font family names with spaces */
    text-align: center;
    font-weight: bold;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ddd; /* Use a valid color code, e.g., #b */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 20px;
  }
  
  th,
  td {
    border: 2px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  th {
    background-color: black;
    color: goldenrod;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: goldenrod;
  }
