<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="text-center my-5">
        <img class="img-fluid rounded mx-auto d-block" src="{{imageUrl}}" img width="{{imageWidth}}" img height="{{imageHeight}}" alt="..." />
        <h1 class="text-white fs-3 fw-bolder">Joshua Ezekiel Limiac</h1>
        <p class="text-white-50 mb-0">Web Developer</p>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-left">
            <div class="col-lg-6">
                <h2>Welcome to my Web Page!</h2>
                <p >Get to know me by clicking the about button.</p>
                <p >You can also check my family members in Dashboard.</p>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<footer class="py-5 bg-dark">
    
</footer>